@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.App {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 4rem;
}

.body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  text-align: center;
}

.carrot {
  font-size: 3rem;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.title {
  color: white;
  font-size: 3rem;
  padding: -2rem;
}

p, li, h1 {
  color: white;
}

@media screen and (max-width: 900px) {
  .recipes {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}